<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
</head>
<body>
<header th:insert="block/header :: header"></header>
<section>
    <div class="nav" th:insert="block/sidebar :: sidebar"></div>
    <div class="show">
        <div class="show__title" th:text="${langName}"></div>
        <div class="add-book">
            <a th:href="@{/add}" class="add-book__button" sec:authorize="hasRole('ROLE_ADMIN')">[[#{app.addBook}]]</a>
        </div>
        <div class="options-container">
            <div class="option">
                <a th:href="@{/new}">[[#{app.new}]]</a>
            </div>
            <div class="option">
                <a th:href="@{/popular}">[[#{app.popular}]]</a>
            </div>
        </div>
        <form th:action="@{/forgot_password}" method="post">
            <div class="forgot">
                <div class="forgot__title">[[#{app.makeSureTheEmail}]]</div>
                <div class="forgot-item">
                    <div class="forgot-item__title">[[#{app.email}]]</div>
                    <div class="error" th:if="${error}">[[#{app.couldNotFindEmail}]]</div>
                    <div class="warning" th:if="${message}">[[#{app.resetPasswordLink}]]</div>
                    <input type="email" name="email" required>
                </div>
                <button type="submit" class="login-button">[[#{app.send}]]</button>
            </div>
        </form>
    </div>
    <div class="filter" th:insert="block/filter :: filter"></div>
</section>
<footer th:insert="block/footer :: footer"></footer>
</body>
</html>